<% include ./partials/header.ejs %>
<div class="text-white">
  <div
    class="px-4 py-5 border-b border-white border-opacity-30 flex justify-between items-center"
  >
    <h1 class="text-3xl">Create Pin</h1>
    <button class="post-btn h-10 px-7 bg-red-700 rounded">Post</button>
  </div>
  <form
    action="/createpost"
    class="upload-form"
    method="post"
    enctype="multipart/form-data"
  >
    <div class="p-5 flex gap-5">
      <div
        class="upload w-full border border-dashed border-white flex justify-center items-center"
      >
        <input
          type="file"
          name="uploadedFile"
          class="hover:cursor-pointer"
          accept=".jpg, .jpeg, .png"
        />
      </div>
      <div class="w-full space-y-5">
        <div class="flex flex-col gap-2">
          <label for="title" class="text-sm">Title</label>
          <input
            type="text"
            id="title"
            name="title"
            placeholder="Add a Title"
            class="bg-zinc-500 border-zinc-400 w-full p-2 px-5 rounded-2xl"
          />
        </div>
        <div class="flex flex-col gap-2">
          <label for="description" class="text-sm">Description</label>
          <textarea
            type="text"
            id="description"
            name="description"
            placeholder="Add a Description"
            class="h-32 bg-zinc-500 border-zinc-400 w-full p-2 px-5 rounded-2xl"
          ></textarea>
        </div>
      </div>
    </div>
  </form>
</div>
<script>
  //   document.querySelector(".fake-form").addEventListener("click", () => {
  //     document.querySelector(".real-form").click();
  //   });
  document.querySelector(".post-btn").addEventListener("click", () => {
    document.querySelectorAll("form").forEach((form) => {
      form.submit();
    });
  });
</script>
<% include ./partials/footer.ejs %>
