<% include ./partials/header.ejs %>

<!-- Using column property of css to distribute the contents -->
<div class="text-white p-3 columns-2 gap-1 md:columns-3 md:gap-3 lg:columns-4">
  <% if (posts.length === 0) { %>
  <h1>No pins</h1>
  <%} else { for (var i = 0; i < posts.length; i++ ) { %>
  <a href="/pin/<%= posts[i]._id %>" class="">
    <div class="mb-1 md:mb-3 lg:mb-4 rounded-lg overflow-hidden">
      <img
        src="/images/uploads/<%= posts[i].image %>"
        class="size-full object-cover"
        alt="Your Pin"
      />
    </div>
  </a>
  <% } } %>
</div>
<% include ./partials/footer.ejs %>
