<% include ./partials/header.ejs %>

<!-- Using column property of css to distribute the contents -->

<% if (posts.length === 0) { %>
<h1 class="text-3xl m-auto font-bold my-10 text-center text-white">
  Upload something worthy!
</h1>
<%} else { %>
<div class="text-white p-3 px-10 columns-2 gap-1 md:columns-3 md:gap-4 lg:columns-4">
  <% for (var i = 0; i < posts.length; i++ ) { %>
  <a href="/pin/<%= posts[i]._id %>" class="">
    <div
      class="mb-1 md:mb-4 rounded-lg overflow-hidden hover:scale-[98%] transition-all"
    >
      <img
        src="/images/uploads/<%= posts[i].image %>"
        class="size-full object-cover"
        alt="Your Pin"
      />
    </div>
  </a>
  <% } } %>
</div>
<% include ./partials/footer.ejs %>
